<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'/>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Clanmarkr</title>
</head>
<body>
  <header>
    <h1>Clanmarkr</h1>  
  </header>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/bookmarks">Bookmarks</a></li>
  </ul>

  <%= yield %>
  
  <footer>
    <p>&copy Evelyn Utterson 2015</p>
  </footer>
</body>
</html>